<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="/" class="navbar-brand d-flex align-items-center text-center py-0 px-4 px-lg-5">
        <h1 class="m-0 text-primary">Graduates Jobs Portal</h1>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="/" class="nav-item nav-link">Home</a>
            <a href="/about" class="nav-item nav-link">About</a>
            <!-- <a href="/category" class="dropdown-item">Job Category</a> -->
            <a href="/contact" class="nav-item nav-link">Contact</a>




            <!-- Display this section only if the user is logged in -->
            <%if(loggedIn) { %>
                <a href="/testimonial" class="nav-item nav-link">Testimonial</a>
                <!--<a href="/404" class="dropdown-item">404</a>-->
                <!-- <a href="/joblist" class="nav-item nav-link">Joblist</a> 
                <a href="/addjob" class="nav-item nav-link">AddJob</a> -->
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Jobs</a>
                    <div class="dropdown-menu rounded-0 m-0">
                        <a href="/job-list" class="dropdown-item">Job List</a>
                        <a href="/insertjobform" class="dropdown-item">Post Job</a>
                        <a href="/addjob" class="dropdown-item">AddJobs</a>
                        <!-- <a href="/job-detail" class="dropdown-item">Job Detail</a> -->
                    </div>
                </div>
            <% } %>


            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fas fa-address-card"></i> <!-- Replace 'fa-address-card' with your desired Font Awesome contact icon -->
                </a>
                <div class="dropdown-menu rounded-0 m-0">

                    <% if (loggedIn) { %>
                        <a href="/logout" class="dropdown-item"><i class="fas fa-user-minus"></i> Logout</a>
                    <% } else { %>
                        <a href="/loginform" class="dropdown-item"><i class="fas fa-sign-in-alt"></i> Login</a>
                        <a href="/register" class="dropdown-item"><i class="fas fa-user-plus"></i> Register</a>
                    <% } %>
                    

                </div>
            </div>
            

        </div>
        
        <!-- <a href="/insertjobform" class="btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block">Post Job<i class="fa fa-arrow-right ms-1"></i></a> -->
        <!--<a href="/applyjob" class="btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block">Apply job<i class="fa fa-arrow-right ms-1"></i></a>-->
    </div>
</nav>

<div id="content"></div>
